<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>776588857459-67i6dgofaoubelb4s0jp6vq1n1mchhqf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.776588857459-67i6dgofaoubelb4s0jp6vq1n1mchhqf</string>
	<key>API_KEY</key>
	<string>AIzaSyC5IBc7f4MiZAwx2JGWIwRYbO9SnpsMOnc</string>
	<key>GCM_SENDER_ID</key>
	<string>776588857459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bipan.touristGuide</string>
	<key>PROJECT_ID</key>
	<string>tourist-guide-177cc</string>
	<key>STORAGE_BUCKET</key>
	<string>tourist-guide-177cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776588857459:ios:0a601d6f84ef8fcc</string>
	<key>DATABASE_URL</key>
	<string>https://tourist-guide-177cc.firebaseio.com</string>
</dict>
</plist>